# Verification


## Fields

| Field                                                                              | Type                                                                               | Required                                                                           | Description                                                                        |
| ---------------------------------------------------------------------------------- | ---------------------------------------------------------------------------------- | ---------------------------------------------------------------------------------- | ---------------------------------------------------------------------------------- |
| `state`                                                                            | [State](../../models/components/State.md)                                          | :heavy_check_mark:                                                                 | The verification state for the document.                                           |
| `metadata`                                                                         | [Optional\<VerificationMetadata>](../../models/components/VerificationMetadata.md) | :heavy_minus_sign:                                                                 | N/A                                                                                |